.mode-div-container {
    display: flex;
    justify-content: end;
}
.mode-div {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
    display: inline-block;
    margin-left: 8px;
    text-align: center;
    line-height: 32px;
    :hover {
        cursor: pointer;
    }
}
.mode-icon {
    font-size: 18px;
    color: #969799;
}
.card-icon {
    font-size: 20px;
}
.active-icon {
    color: #0066FF;
    transition: color 0.3s;
}
.page-container {
    background-color: #f5f5f5;
    padding: 24px;
}
.query-form-item {
    margin-bottom: 8px !important;
}
.tools-div {
    display: flex;
    margin-right: 5px;
}

/* 添加到 ai-resource.css 文件 */
.view-container {
    transition: all 0.3s ease;
    opacity: 1;
}

.view-enter {
    opacity: 0;
    transform: translateX(10px);
}

.view-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.view-exit {
    opacity: 1;
}

.view-exit-active {
    opacity: 0;
    transform: translateX(-10px);
}
.ant-card-body {

}
.card-item-content {
    height: 152px;
    text-align: center;
    line-height: 152px;
    background-color: #F9F8F8;
    border-radius: 8px;
    :hover {
        cursor: pointer;
    }
}
.card-check-box {
    display: flex;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    z-index: 99;
}

.card-handle-div {
    height: 32px;
    line-height: 32px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
    padding-left: 12px;
    padding-right: 12px;
}

.card-handle-btn {
    color: #333333;
}