.main-item {
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        background-color: #f3f3f3;
        transition: background-color  0.2s;
    }
}
.main-item.active {
    background-color: #e4e4e4;
}