server:
  port: 8080
  address: 0.0.0.0
spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/aiflowy?useInformationSchema=true&characterEncoding=utf-8
    username: root
    password: 123456
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  web:
    resources:
      static-locations: classpath:/public
  mvc:
    static-path-pattern: /static/**
aiflowy:
  storage:
    type: local
    s3:
      access-key: key
      secret-key: secret
      endpoint: your-endpoint
      region: your-region
      bucket-name: your-bucket-name
      access-policy: 2
      prefix: public
    local:
      root: ''
  ollama:
    host: http://127.0.0.1:11434
  login:
    excludes: /api/v1/auth/**, /static/**
node:
  reader: 'defaultReader'
  gitee:
    appKey: 'xxx'
jetcache:
  # 缓存类型，可选值：local/remote/both CacheConfig 类初始化
  cacheType: local
  statIntervalMinutes: 15
  areaInCacheName: false
  local:
    default:
      type: linkedhashmap
      keyConvertor: fastjson
  remote:
    default:
      type: redis
      keyConvertor: fastjson2
      broadcastChannel: projectA
      valueEncoder: java
      valueDecoder: java
      poolConfig:
        minIdle: 5
        maxIdle: 20
        maxTotal: 50
      host: 127.0.0.1
      port: 6379
      password: pwd
      database: 0