/* styles.css */
.app-container {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 200px);
    border-radius: 0px 0px 8px 0px;

}
.content{
    height: calc(100vh - 150px);
}
.menu-container {
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    box-shadow: inset -1px 0px 0px 0px #F0F0F0;
    padding: 18px 18px 0 18px;
    border-radius: 8px 0px 0px 8px;

}

/* 右侧内容区域样式 */
.content-container {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    padding: 16px;
    background-color: #fff;
    border-radius: 0px 8px 8px 0px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #E8EBF2;
}

.menu-item.active {
    background-color: #F7F7FC;
    font-weight: bold;
}
.content-container{
    overflow: auto;
    flex: 1;
}
.file-container{
    display: flex;
}
.file-content{
    flex: 1;
}

/* 在document.css中添加 */
.docx-content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.docx-content p {
    margin-bottom: 1em;
}

.docx-content table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}

.docx-content table, .docx-content th, .docx-content td {
    border: 1px solid #ddd;
}

.docx-content th, .docx-content td {
    padding: 8px;
}
.document-menu {
    background-color: #ffffff;
    border-radius: 8px;
    width: 100%;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-item {
    position: relative;
    cursor: pointer;
    text-align: left;
    height: 40px;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
}

.menu-item:hover {
    background-color: #f5f5f5;
}

.menu-item.active {
    background-color: #F0F6FF;
    color: #1681FF;
}

