.tablePageContainer {
    background-color: #F7F7F7;
    padding: 24px;
}

.detailHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #F0F0F0;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.menuContainer {
    background-color: #fff;
    padding: 4px;
    border-right: 1px solid #F0F0F0;
    border-bottom-left-radius: 8px;
}
.iconContainer {
    display: flex;
    margin-top: 4px;
}
.backIcon {
    margin-right: 10px;
    color: #C7C7C7;
    :hover {
        cursor: pointer;
    }
}
.iconStyle {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}
.btnContainer {
    display: flex;
    margin-top: 4px;
}
.headerTableInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tableName {
    font-size: 14px;
    font-weight: bold;
}
.tableDesc {
    font-size: 12px;
    color: #969799;
}
.tableContainer {
    padding: 20px;
    background-color: #fff;
    border-bottom-right-radius: 8px;
}
